.header-title {
  color: white;
  margin-top: 0%;
  font-size: 47px;
}

.header-subtitle {
  color: white;
  margin-top: 0%;
  font-size: 32px;
}

.particles{
  position: absolute;
  right: calc(3rem - 2vw);
  top: calc(9rem - 6vw);
  }
  .particles2{
  position: absolute;
  /* right: calc(3rem - 2vw); */
  top: calc(99rem - 2vw)
  }

.header-image {
  display: block;
  margin-left: 100px;
  width: 25vw;
}

.middle-container-heading {
  color: white;
  font-size: 24px;
}

.footer-image {
  opacity: 0.6;
  width: 40%;
  margin-left: 30%;
}

.footer-heading {
  color: white;
  margin-top: 0%;
  font-size: 27px;
}

.image-text-editor {
  opacity: 0.6;
  width: 80;
  margin-left: 60%;
}

.footer-link {
  font-size: larger;
}

@media (max-width: 600px) and (orientation: portrait) {
  .header-title {
    font-size: 1.2rem;
  }

  .header-subtitle {
    font-size: 1.1rem;
  }

  .header-image {
    width: 30vw;
    margin-left: 50px;
  }

  .middle-container-heading {
    font-size: 1rem;
  }

  .footer-image {
    width: 70vw;
    margin-left: 15%;
    margin-top: 40px;
  }

  .footer-heading {
    margin-bottom: 0%;
  }

  .footer-link {
    margin-top: 5px;
    margin-bottom: 75px;
  }
}

/* media queries */
@media (max-width: 600px) and (orientation: landscape) {
  .header-title {
    font-size: 1.2rem;
  }

  .header-subtitle {
    font-size: 1.1rem;
  }

  .header-image {
    width: 30vw;
    margin-left: 50px;
  }

  .middle-container-heading {
    font-size: 1rem;
  }

  .footer-heading {
    margin-bottom: 0%;
    margin-top: 15px;
  }

  .footer-link {
    margin: 5px 0px 80px 0px;
  }

  .footer-image {
    margin-top: 0;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .footer-heading {
    margin-bottom: 0%;
  }

  .footer-link {
    margin-bottom: 100px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-heading {
    margin-bottom: 0%;
  }

  .footer-link {
    margin-bottom: 200px;
  }
}
