.header-title{
    color: white;
    margin-top: 0%;
    font-size: 47px;
}

.header-subtitle{
    color: white;
    margin-top: 0%;
    font-size: 32px;
}

.header-image{
    display: block;
    margin-left: 100px;
    width: 25vw;
}

.middle-container-heading{
    color: white;
    font-size: 24px;
}

.footer-image{
    opacity: 0.6;
    width: 40%;
    margin-left: 30%;
}

.footer-heading{
    color: white;
    margin-top: 0%;
    font-size: 27px;
}

.image-text-editor{
    opacity:0.6;
    width:80;
    margin-left: 60%;
}

.footer-link{
    font-size: larger;
}

@media (max-width:600px) and (orientation: portrait){
    .header-title{
        font-size: 1.2rem;
    }
    .header-subtitle{
        font-size: 1.1rem;
    }
    .header-image{
        width: 30vw;
        margin-left:50px;
    }
    .middle-container-heading{
        font-size: 1.0rem;
    }
    .footer-image{
        width:70vw;
        margin-left: 15%;
        margin-top: 40px;
    }
    .footer-heading{
        margin-bottom: 0%;
    }
    .footer-link{
        margin: 0%;
    }
}

@media(max-width:600px) and (orientation: landscape){
    .header-title{
        font-size: 1.2rem;
    }
    .header-subtitle{
        font-size: 1.1rem;
    }
    .header-image{
        width: 30vw;
        margin-left:50px;
    }
    .middle-container-heading{
        font-size: 1.0rem;
    }
    .footer-heading{
        margin-bottom: 0%;
        margin-top: 15px;
    }
    .footer-link{
        margin: 0%;
    }
    .footer-image{
        margin-top:0;
    }
}
