.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 8s linear;
  height: 120px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 150px;
  padding: 20px;
  color: rgba(63, 58, 58, 0.781);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
